.home-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: scroll;
}

h1 {
    text-align: center;
    color: var(--color-white);
}

.blogInfo {

    height: 100px;
    width: 450px;
    border: solid 2px black;
    color: var(--color-tertiary);
    padding: 15px 10px;
    background-color: var(--color-white);
    margin: 25px;

}

.link {
    color: green;
}
